
<div class="recipeContent">
  <%= form_with model: @recipe, local: true do |f| %>
    <div class="leftContent">
      <%= f.label :name, autocomplete: "off" %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.label :image %><br>
      <%= f.label :image, class: "imageIcon" do %>
        <%= f.file_field :image, hidden: true %>
      <% end %>
      <br>
      <%= f.label :author %>
      <%= f.text_field :author, class: "form-control" %>
      <%= f.label :category %>
      <%= f.text_field :category, class: "form-control" %>
    </div>
    <div class="rightContent">
      <%= f.label :ingredients %>
      <%= f.text_area :ingredients, class: "textBox", placeholder: "Place each ingredients in a new line" %>
      <%= f.label :instructions %>
      <%= f.text_area :instructions, class: "textBox" %>
    </div>
    <div class="actions">
      <%= f.submit nil, class: "greenButtonNewRec" %>
      <%= link_to 'Back', @recipe, class: "orangeButtonNewRec" %>
    </div>
  <% end %>
</div>
