
<div class=" text-center container">

  <%= image_tag @user.profile.avatar_url("200x200"), width: 200 %>
  <h1 ><%= @user.profile.name %>'s Recipes</h1>
</div>

<div class="container ">

<div class=" newRecipe text-center mb-2 ">
  <%= link_to 'New Recipe', new_recipe_path, class: "newRecipeButton" %>
</div>
<table class="table">
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <% if current_book.present? %>
          <td>
            <% if current_book.recipes.include?(recipe) %>
              <%= button_to "Remove from #{current_book.name}",
                  book_recipe_cookbook_entries_path(current_book, recipe),
                  method: :delete,
                  class: "orangeButton" %>
            <% else %>
              <%= button_to "Add to #{current_book.name}",
                  book_recipe_cookbook_entries_path(current_book, recipe),
                  class: "greenButton" %>
            <% end %>
          </td>
        <% end %>
        <td><%= link_to recipe.name, recipe ,  class: "bookName" %></td>
        
        
        <td> <%= image_tag recipe.image_url %> <td>
          <% if recipe.user == current_user %>
              <div class="btn-group float-right">
                <%= link_to 'Edit', edit_recipe_path(recipe), class: "greenButton" %>
                <%= link_to 'Delete',
                    recipe,
                    method: :delete,
                    data: {confirm: 'Are you sure?' },
                    class: "orangeButton" %>
              </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
