<div class="form-group modal-body">
<p>
<strong>Image:</strong></br>
<%= image_tag( @recipe.image.attached? ? @recipe.image : 'http://bottomlessbites.com/assets/recipe-placeholder.jpg' , height: 'auto', width: '200' )%>

<p>
  <strong>Name:</strong></br>
  <%= @recipe.name %>
</p>
 
<p>
  <strong>Ingredients:</strong></br>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Instructions:</strong></br>
  <%= @recipe.instructions %>
</p>

<p>
  <strong>Author:</strong></br>
  <%= @recipe.author %>
</p>

<p>
  <strong>Category:</strong></br>
  <%= @recipe.category %>
</p>
</div>

<%= link_to 'Edit', edit_recipe_path(@recipe), class: "btn btn-primary " %>

<%= link_to 'Back', recipes_path, class: "btn btn-primary " %>

