<div class="form-group modal-body">
<p>
<strong>Image:</strong>
 <%=image_tag (url_for(@recipe.image.variant(resize: "200x200")) if @recipe.image.attached?)%>
</P>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>
 
<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>

<p>
  <strong>Author:</strong>
  <%= @recipe.author %>
</p>

<p>
  <strong>Category:</strong>
  <%= @recipe.category %>
</p>
</div>

<%= link_to 'Edit', edit_recipe_path(@recipe), class: "btn btn-primary " %>

<%= link_to 'Back', recipes_path, class: "btn btn-primary " %>

