<div class="container">
  <div class="recipeContainer">
    <h2><%= @recipe.name %></h2><br>
    <div class="leftContent">
      <%= image_tag @recipe.image_url, class: "recipeImage"%><br>
      <div class="recipeAuthor">
        <h2>By: <%= @recipe.author %></h2>
        <br>
        <%= image_tag @recipe.user.profile.avatar_url %>
      </div>
      <div class="recipeCategory">
        <h2>Category:</h2>
        <%= @recipe.category %>
      </div>
    </div>
    <div class="rightContent">
      <div class="recipeIngredients">
        <h2>Ingredients:</h2>
        <%= @recipe.ingredients %>
      </div>
      <div class="recipeInstructions">
        <h2>Instructions:</h2>
        <%= @recipe.instructions %>
      </div>
      <div class="btn-group " id="recipeLink">
        <%= link_to 'Edit', edit_recipe_path(@recipe), class: "greenButton"%>
        <%= link_to 'Back', user_recipes_path(current_user), class: "orangeButton"%>
      </div>
    </div>
  </div>
</div>
