<div class="container margin10">


<%= form_with model: [cover.book, cover],  local: true do |form| %>
  <%= form.label :cover , class: "bookName"%><br>
  <%= form.label :image , class: "imageIcon"  do %>
    <%= form.file_field :image, hidden: true %>
  <% end %>

  <div class="margin10">
  <%= form.submit "Update Cover", class: " greenButton " %>
<% end %>

</div>

</div>
