<%= form_with model: book, local: true do |f| %>  
  <div class="form-group">
    <%= f.label :name, autocomplete: "off" %>
    <%= f.text_field :name, class: "form-control" %>

    <%= f.label :subtitle %>
    <%= f.text_field :subtitle, class: "form-control" %>
    
    <%= f.label :dedication %>
    <%= f.text_field :dedication, class: "form-control" %>

    <%= f.label :footer %>
    <%= f.text_field :footer, class: "form-control" %>
  </div>
  


<table class="table">
  <tbody>
  <% if current_book.present? %>
  <span> <%= link_to 'View Book', book, class: "btn btn-primary" %> </span>

  <span> <%= link_to "View Cover", book_cover_path(@book),  class: "btn btn-primary", target: "_blank" %></span>
  <h2> Add/Remove Recipes </h2>
  <% current_book.recipes.each do |recipe| %>
      <tr>
            <% if current_book.recipes.include?(recipe) %>
            <td>
              <%= button_to "Remove from #{current_book.name}",
                  book_recipe_cookbook_entries_path(current_book, recipe),
                  method: :delete,
                  class: "btn btn-danger" %>
            <% else %>
              <%= button_to "Add to #{current_book.name}",
                  book_recipe_cookbook_entries_path(current_book, recipe),
                  class: "btn btn-primary" %>
            <% end %>
          </td>
          <td><%= link_to recipe.name, recipe %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>



<div class="actions">
    <%= f.submit nil , class: "btn btn-primary" %>
    <%= link_to 'Back', book, class: "btn btn-secondary" %>
    <% end %>
  </div>
  

  
