<%= form_with model: @book, local: true do |f| %>
  
  <div class="form-group">
    <%= f.label :name, autocomplete: "off" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit nil, class: "btn btn-primary" %>
    <%= link_to 'Back', @book, class: "btn btn-secondary" %>
  </div>
  <% end %>
