<%= form_with model: @book, local: true do |f| %>  
  <div class="form-group">
    <%= f.label :name, autocomplete: "off" %>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle, class: "form-control" %>
    <%= f.label :dedication %>
    <%= f.text_field :dedication, class: "form-control" %>
    <%= f.label :image %><br>
    <%= f.label :image, class: "imageIcon" do %>
      <%= f.file_field :image  %>
    <% end %>
  </div>
    
 



  <div class="actions">
    <%= f.submit nil, class: "btn btn-primary" %>
    <%= link_to 'Back', @book, class: "btn btn-secondary" %>
  </div>
  <% end %>
