<h1 class="bookTitle">My Books</h1>

<div class="text-center mb-2">
  <%= link_to "+", new_book_path, class: "addBook" %>
</div>
<div class="bookContainer">
  <% @books.each do |book| %>
    <div class= "bookItems">
      <img src="/book.png" class="bookImage"alt="">
      <p><%= link_to  book.name, book %></p>
      <%= link_to 'Edit', edit_book_path(book), class: "btn btn-secondary" %>
      <%= link_to 'Delete',
        book,
        method: :delete,
        data: {confirm: 'Are you sure?'},
        class: "btn btn-danger" %>
        <%= link_to 'View', books_view_cover_path %>
    </div>
  <% end %>
</div>
